@use '../lib';

.block.block--intro{
    margin-top: 11rem;

    .intro__title{
        margin-bottom: 0;

        .title--home{
            display: block;
            position: relative;

            &--upperline{
                padding-bottom: 0.16em;
                margin-bottom: 0.03em;

                &::after{
                    content: "";
                    display: inline-block;
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: lib.$blue;
                }
            }
        }
    }

    .intro__img{
        max-width: 100%;
    }


    @include lib.tablet{

        .intro__title{
            grid-column: 1/13;
        }

        .intro__img{
            grid-column: 2/12;
        }
    }


    @include lib.tablet-large{

        .intro__title{
            grid-column: 1/25;
        }

        .intro__img{
            grid-column: 5/21;
        }
    }
}