@use '../lib';

.block.block--intro{
    margin-top: 11rem;

    .intro__title{
        margin-bottom: 0;

        .title--home{
            display: block;
            position: relative;

            &--upperline{
                padding-bottom: 0.16em;
                margin-bottom: 0.03em;

                &::after{
                    content: "";
                    display: inline-block;
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: lib.$blue;
                }
            }
        }
    }

    .intro__img{
        max-width: 100%;
    }


    @include lib.tablet{

        .intro__title{
            grid-column: 1/13;

            .title--home{

                &--upperline{
                    margin-bottom: -0.5rem;
                    padding-bottom: 0.7rem;
                }
            }
        }

        .intro__img{
            grid-column: 2/12;
        }
    }


    @include lib.tablet-large{
        margin-top: 0;

        .intro__title{
            grid-column: 1/25;
            margin-top: 2.25rem;

            .title--home{

                &--upperline{
                    margin-bottom: -0.65rem;
                    padding-bottom: 0.9rem;
                }
            }
        }

        .intro__img{
            grid-column: 5/21;
        }
    }


    @include lib.desktop{

        .intro__title{
            margin-top: 2rem;

            .title--home{

                &--upperline{
                    margin-bottom: -01.1rem;
                    padding-bottom: 0.8rem;
                }
            }
        }
    }
}