@use '../lib';

$img-size-tablet: 320px;

.block.block--work{

    .work__li{
        counter-reset: index-work;

        .work__el{
            counter-increment: index-work;
            margin: 9rem 0;

            &:first-child{
                margin-top: 0;
            }

            &:last-child{
                margin-bottom: 0;
            }

            .work__title{
                text-align: center;
                margin: 1.5rem 0;

                .work__link{
                    position: relative;

                    &:before{
                        content: "0" counter(index-work);
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1rem;
                        position: absolute;
                        right: calc(100% + 0.3em);
                        top: 0;
                    }

                    /*
                    &:after{
                        content: "Cliquer pour voir";
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1rem;
                        letter-spacing: 0.1em;
                        line-height: 1em;
                    }
                    */
                }
            }

            .work__link.work__link--img{
                max-width: 100%;
                display: block;

                .work__img{
                    max-width: 100%;
                }
            }
        }
    }


    @include lib.tablet{
        .work__li{
            grid-column: 1/13;

            .work__el{
                //height: $img-size-tablet;
                max-height: $img-size-tablet;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                column-gap: 1rem;
                //align-content: center;

                .work__title{
                    grid-column: 1/13;
                    grid-row: 1/2;
                    justify-self: center;
                    align-self: center;

                    .work__link{
                        display: flex;
                        flex-direction: column;

                        &:after{
                            content: "Cliquer pour voir";
                            font-family: 'Montserrat', sans-serif;
                            font-size: 1rem;
                            letter-spacing: 0.1em;
                            line-height: 1em;
                            align-self: center;
                            margin-top: 1rem;
                        }
                    }
                }

                .work__link.work__link--img{
                    //height: 100%;
                    max-height: inherit;
                    grid-column: 1/7;
                    grid-row: 1/2;
                    align-self: center;

                    .work__img{
                        max-height: inherit;
                    }
                }
            }
        }
    }


    @include lib.tablet-large{
        .work__li{
            grid-column: 1/25;

            .work__el{

                .work__title{

                    .work__link{

                        &:after{

                        }
                    }
                }

                .work__link.work__link--img{

                    .work__img{
                    }
                }
            }
        }
    }
}